<app-header headerTitle="Flashcard detail">
  <ion-back-button defaultHref></ion-back-button>
</app-header>

<ng-container [ngSwitch]="type">
  <ion-content *ngSwitchCase="'CONVERSATION'">
    <conversation-detail-view></conversation-detail-view>
  </ion-content>

  <ion-content *ngSwitchCase="'VERB'" class="ion-padding-bottom">
    <verb-detail-view></verb-detail-view>
  </ion-content>

  <ion-content *ngSwitchCase="'VOCABULARY'">
    <vocabulary-detail-view></vocabulary-detail-view>
  </ion-content>
</ng-container>
