<verb-view
  verbValue="Jeść"
  translatedValue="To eat"
  confidenceValue="true"
  notesValue="Additional notes"
  presentTenseValue="Ja jem, Ty jesz, On/Ona/Ono je, My jemy, Wy jecie, Oni/One jedzą"
  presentSentenceValue="Jemy teraz śliwki."
  pastTenseValue="Ja jadłem / jadłam, Ty jadłeś / jadłaś, On jadł, Ona jadła, My jedliśmy / jadłyśmy, Wy jedliście / jadłyście, Oni jedli, One jadły"
  pastSentenceValue="Wczoraj jadłem słodkie ziemniaki."
  futureTenseValue="Ja będę jadł / jadła, Ty będziesz jadł / jadła, On będzie jadł, Ona będzie jadła, My będziemy jedli / jadły, Wy będziecie jedli / jadły, Oni będą jedli, One będą jadły"
  futureSentenceValue="Czy bedziesz jadła to danie jutro?"
></verb-view>
