<ion-header>
  <ion-toolbar>
    <ion-title> Create flashcard </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select
          interface="popover"
          [(ngModel)]="type"
          (ngModelChange)="onChange(type)"
        >
          <ion-select-option value="CONVERSATION"
            >Conversation</ion-select-option
          >
          <ion-select-option value="VERB">Verb</ion-select-option>
          <ion-select-option value="VOCABULARY">Vocabulary</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ng-container [ngSwitch]="type">
    <ion-content *ngSwitchCase="'CONVERSATION'">
      <create-conversation></create-conversation>
    </ion-content>

    <ion-content *ngSwitchCase="'VERB'">
      <create-verb></create-verb>
    </ion-content>

    <ion-content *ngSwitchCase="'VOCABULARY'">
      <create-vocabulary></create-vocabulary>
    </ion-content>
  </ng-container>
</ion-content>

<editing-footer>
  <ion-button fill="clear" shape="round" (click)="closeModal()" class="start">
    <ion-icon slot="start" name="close-outline"></ion-icon>
    Close
  </ion-button>

  <ion-button
    fill="clear"
    shape="round"
    color="success"
    class="end"
    (click)="saveFlashcard()"
  >
    <ion-icon slot="start" name="trash-outline"></ion-icon>
    Save
  </ion-button>
</editing-footer>
