<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Yak</ion-list-header>
          <ion-note>user1@yakapp.test</ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item button lines="none">
              <ion-icon slot="start" name="contrast-outline"></ion-icon>
              <ion-label>Theme</ion-label>
            </ion-item>
            <ion-item button lines="none">
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>Log out</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
