.toggle-btn {
  background: none;
  outline: none;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.54);

  ion-icon {
    font-size: 24px;
  }
}
