<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" swipeGesture="false">
      <ion-content>
        <ion-list>
          <ion-list-header>Yak</ion-list-header>
          <ion-note class="ion-padding-start">user1@yakapp.test</ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" class="ion-padding-top">
              <ion-icon slot="start" name="contrast-outline"></ion-icon>
              <ion-label>{{ (isDark$ | async) ? 'Light' : 'Dark' }}</ion-label>
              <button
                (click)="toggleTheme()"
                class="toggle-btn ion-activatable"
              >
                <ion-ripple-effect type="bounded"></ion-ripple-effect>
                <ion-icon
                  [name]="(isDark$ | async) ? 'sunny-outline' : 'moon-outline'"
                ></ion-icon>
              </button>
            </ion-item>
            <ion-item button lines="none">
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>Log out</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
