<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button
        ><ion-icon name="ellipsis-vertical-outline"></ion-icon
      ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <cards-list
    headerTitle="Languages"
    noCardTitle="No Language found"
    noCardSubtitle="Add a language to start"
    collection="true"
  >
    <language-card></language-card>
  </cards-list>
</ion-content>
